{% extends "base.html" %}
{% load static %}

{% block title %}
    Edit Task
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <script>
        // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
        window.addEventListener("DOMContentLoaded", function () {
            flatpickr(".datetimefield", {
                noCalendar: false,
                enableTime: true,
                enableSeconds: true,
                calendarContainer: true,
                dateFormat: "Y-m-d H:i:S",
            });
        });
    </script>

    <div class="container">
        </br>
        {% if task_obj.manager == request.user %}
            {% if task_obj.done %}
                <form method="POST" class="row">
                    {% csrf_token %}
                    <input type="text" class="form-control col-lg-6 mr-2 col-6" name="task"
                           placeholder={{ task_obj.task }} value="{{ task_obj.task }}">
                    <input type="text" class="datetimefield col-3 mr-1" name="task_deadline"
                           placeholder="Change Deadline"
                           value="{{ task_obj.task_deadline }}">
                    <label class=" col-lg-1 mr-1">Completed?</label>
                    <input type="checkbox" class="form-control col-lg-1 col-2" name="done" checked>
                    <button type="submit" class="btn btn-outline-dark col-lg-2 mr-1 mt-3 ">Update Task</button>
                </form>
            {% else %}
                <form method="POST" class="row">
                    {% csrf_token %}
                    <input type="text" class="form-control col-lg-6 mr-2 col-6" name="task"
                           placeholder={{ task_obj.task }} value="{{ task_obj.task }}">
                    <input type="text" class="datetimefield col-3 mr-1" name="task_deadline"
                           placeholder="Change Deadline"
                           value="{{ task_obj.task_dealine }}">
                    <label class=" col-lg-1">Completed?</label>
                    <input type="checkbox" class="form-control  col-lg-1 col-2" name="done">
                    <button type="submit" class="btn btn-outline-dark col-lg-2 mr-1 mt-3">Update Task</button>
                </form>
            {% endif %}
        {% else %}
            <p class="h2">Access Restricted!! You are not allowed!</p>
        {% endif %}
    </div>
{% endblock %}
