{% extends "base.html" %}
{% load static %}

{% block title %}
    Welcome to Task Mate
{% endblock %}
{% block script %}

{% endblock script %}

{% block content %}
    <div class="container ">
        <div class="row mt-5 mobile_noshow" id="content-desktop">
            <div class="col-lg-4">
                <img src="{% static 'images/index_pic.jpg' %}" alt="Note" width="360" height="250"
                     class="rounded-lg shadow">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/index2.jpg' %}" alt="Note" width="360" height="250"
                     class="rounded-lg shadow">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/index3.jpg' %}" alt="Note" width="360" height="250"
                     class="rounded-lg shadow">
            </div>
        </div>

        <div id="content-mobile">
            <div class="slideshow">

                <div class="mySlides fade">
                    <img src="{% static 'images/index_pic.jpg' %}" style="width:100%" id="onlymobile">
                </div>

                <div class="mySlides fade">
                    <img src="{% static 'images/index2.jpg' %}" style="width:100%" id="onlymobile">
                </div>

                <div class="mySlides fade">
                    <img src="{% static 'images/index3.jpg' %}" style="width:100%" id="onlymobile">
                </div>

                <a class="prev " onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3" style="text-align: center;">
                <p class="h3 text-primary">Quick & Easy To Use, Anytime,Anywhere!</p>
                <p class="h5 mt-3">"Plan Your Day Better,Get Your Life Organized </p>
                <p class="h7">TASKMATE Lets You Keep Track Of Your Task In One Place</p>

                <a href="{% url 'todolist' %}">
                    <button type="button" class="btn btn-primary btn-lg mt-1 shadow">Let's Get Strated</button>
                </a>

            </div>
        </div>

    </div>
    <script class="onlymobile">
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
{% endblock %}

