table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

td:nth-child(1) {
    width: 5%;
}

td:nth-child(2) {
    width: 50%;
}

td:nth-child(3) {
    width: 20%;
}

td:nth-child(4) {
    width: 20%;
}

td:nth-child(5) {
    width: 5%;
}

td:nth-child(6) {
    width: 5%;
}

/*hinding mobile content*/
#content-mobile {
    display: none;
}

/*hinding mobile content*/

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-device-width: 800px) {
    /* Slideshow container */
    .slideshow {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }


    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        padding-right: 0px;

    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        padding-right: 10px;

    }

    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "ID";
        font-weight: bold;
    }

    td:nth-of-type(2):before {
        content: "Task";
        font-weight: bold;
    }

    td:nth-of-type(3):before {
        content: "Status";
        font-weight: bold;
    }

    td:nth-of-type(4):before {
        content: "Deadline";
        font-weight: bold;
    }

    td:nth-of-type(5):before {
        content: "Edit";
        font-weight: bold;
    }

    td:nth-of-type(6):before {
        content: "Delete";
        font-weight: bold;
    }

    td:nth-child(2) {
        width: auto;

    }

    td:nth-child(3) {
        width: auto;
    }

    td:nth-child(4) {
        width: auto;

    }

    /*button*/
    button {
        width: 100px;
    }

    .mobile {
        box-sizing: unset;
    }

    #flex {
        display: flex;
        flex-direction: column;
    }

    #one {
        order: 2;
    }

    #shomit {
        order: 1;
    }

    #three {
        order: 3;
    }

    /*hiding desktop content start*/
    .mobile_noshow {
        display: None;
    }

    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }

    /*hiding desktop content end*/

}



