{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register - TaskMate
{% endblock %}

{% block content %}
    <div class="container">
    <h2 class="text-primary col-lg-7">Change password</h2>
        <form method="POST" class="mt-1 col-6">
            {% csrf_token %}

            {{ change_form.as_p }}
            <div style="text-align: right;"><button type="submit" class="btn  btn-primary col-lg-3 mb-5">Change Password</button></div>
        </form>
    </div>
{% endblock %}

