<!doctype html>
{% load static %}
<html lang="en">
<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/icon.js" %}"></script>


    <link rel="icon" href="{% static 'favicon.ico' %}" sizes="24x24">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %}
    {% endblock title %}</title>
    <meta name="description"
          content="Taskmate is a todo list application,which is developed by cybric technology.It's initial link is taskmatecybric.herokuapp.com">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="TaskMate"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'todolist' %}">To Do </a> {% endif %}
                <a class="nav-item nav-link" href="{% url 'about' %}">About Us</a>
                <a class="nav-item nav-link" href="{% url 'contact' %}">Contact Us</a>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="form-inline mr-2 my-lg-0">
                <div class="p-2 bg-dark text-white">Logged in as {{ user.username }}</div>
                <a href="{% url 'logout' %}">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Log Out</button>
                </a>

            </div>
        {% else %}
            <a href="{% url 'login' %}">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Log In</button>
            </a>
            <a href="{% url 'register' %}">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0 ml-2">Create Account</button>
            </a>

        {% endif %}
    </nav>


</head>
<body class="bg-light">
</footer>
{% block content %}

{% endblock content %}

<nav class='blockquote-footer'>
    <div class="container " style="text-align: center;"> © Copyright 2020 by <a href="https://facebook.com/cybrictech"
                                                                                style="cursor: pointer;"
                                                                                class="text-primary">Cybric Tech.</a>
        All Rights Reserved.
    </div>
</nav>

<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-52746336-1');
    ga('send', 'pageview');
    var isCompleted = {};

    function sampleCompleted(sampleName) {
        if (ga && !isCompleted.hasOwnProperty(sampleName)) {
            ga('send', 'event', 'WebCentralSample', sampleName, 'completed');
            isCompleted[sampleName] = true;
        }
    }
</script>
<script type="text/javascript">
    function init() {
        window.matchMedia("(max-width: 600px)").addListener(hitMQ);
    }

    function hitMQ(evt) {
        sampleCompleted("GettingStarted-ContentWithStyles");
    }

    init();

</script>
</body>
</html>